{% extends "base.html" %}
{%load static%}
{%load thumbnail%}
{% block content %}
<div class="container bg-light rounded mb-5">
    <div class="col-12 margin100 p-3">
        <div class="row">

            <div class="col-sm-12 col-md-3 card mt-3 shadow-sm">
                <!-- tutaj trzeba będzie wstawić zdjątko -->
                {% if wine.image %}
                <a href="{{ wine.image.url }}">

                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                {% thumbnail wine.image "200x400" crop="center" quality=150 as image %}
                                <img class="card-img-top" src="{{ image.url }}" />
                                {% endthumbnail %}
                            </div>
                            <div class="carousel-item">
                                {% thumbnail wine.image "200x400" crop="center" quality=150 as image %}
                                <img class="card-img-top" src="{{ image.url }}" />
                                {% endthumbnail %}
                            </div>

                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </a>
                {% endif %}
            </div>
            <div class="col-sm-12 col-md-9 card mt-3 shadow-sm">

                <div class="card-body">
                    <h4 class="titles card-title">{{ wine.name }}</h4>
                </div>
                <!-- tutaj będzie trzeba wstawić parametry -->
                <ul class="list-group list-group-flush mb-5">
                    <li class="list-group-item">
                        <h5><b>Cena:</b> {{ wine.price }} </h5>
                    </li>
                    <li class="list-group-item">
                        <h5><b>Kolor:</b> {{ wine.color }} </h5>
                    </li>
                    <li class="list-group-item">
                        <h5><b>Smak:</b> {{ wine.taste }} </h5>
                    </li>
                    <li class="list-group-item">
                        <h5><b>Opis:</b> {{ wine.descriptions }} </h5>
                    </li>
                </ul>
                <a href="{% url 'edytuj' wine.id %}">
                    <button type="button" class="guzik btn bg-black text-light btn-sm px-4">
                        Wybierz
                    </button>
                </a>
            </div>

            <!-- tutaj będzie trzeba zrobić dodawanie opinii (w modalu jest formularz) -->
            <div class="col-12 mt-5 pt-5">
                <div class="float-right">
                    <button type="button" class="btn bg-black text-light guzik mr-1" data-toggle="modal"
                        data-target="#opinia"><i class="fas fa-plus "></i> Dodaj opinię</button>
                    <!-- Modal - wyskakujący popup do dodania opinii -->
                    <div class="modal fade" id="opinia" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header bg-wlasne py-4 text-light">
                                    <h5 class="modal-title" id="exampleModalLabel">Dodaj swoją opinię</h5>
                                    <button type="button" class="close text-light" data-dismiss="modal"
                                        aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <!-- tu się zaczyna formularz -->
                                    <form action="" method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        {{ form.as_p }}
                                        <div class="modal-footer pb-0">
                                            <button type="button" class="btn btn-secondary guzik" data-dismiss="modal">
                                                Anuluj
                                            </button>
                                            <a href="#"><button type="submit"
                                                    class="btn btn-dark guzik">Zapisz</button></a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div></a>
                    <!-- koniec modala - popupu -->
                </div>

                <!-- tutaj będzie trzeba wstawić dodane opinie -->
                <div class="shadow-sm border rounded mt-5">
                    {% for comm in comments %}
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item bg-wlasne text-light text-bold pb-2 pt-3">
                            <h5>{{ comm.nickname }}</h5>
                        </li>
                        <li class="list-group-item text-bold pb-2 pt-3">
                            {{ comm.description }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}