{% extends "base.html" %}

{% block content %}
{%load static%}
</nav>
<span class="col-12 marginlog mt-sm-2 fixed-top d-flex justify-content-end text-light">
    {% if user.is_authenticated %}
    <div class="d-flex align-items-center mr-2">
    {{ user.username }}
  </div>
    <a href="{% url 'logout' %}">
      <button class="btn nav-color border-dark text-light py-1 guzik">
        <i class="d-none d-lg-inline fas fa-sign-out"></i> Wyloguj
      </button>
    </a>
    {% else %}
    <div class="col-3 pr-0 d-flex justify-content-end">
      <div >
        <a href="{% url 'login' %}">
          <button class="btn nav-color text-light mr-2 py-1 border-dark guzik">
            <i class="d-none d-xl-inline fas fa-sign-in"></i> Zaloguj
          </button>
        </a>
      </div>
      <div >
        <a href="{% url 'signup' %}">
          <button class="btn nav-color border-dark text-light py-1 guzik">
          <i class="d-none d-xl-inline fas fa-sign-out"></i> Zarejestruj
        </button>
        </a>
      </div>
    </div>
    {% endif %}
  </span>
</header>
<div class="container bg-light mb-5">
    <div class="col-12 margin100 p-3">
        <div class="row">

            <div class="col-sm-12 col-md-3 card mt-3 shadow-sm">
                <!-- tutaj trzeba będzie wstawić zdjątko -->
                <img class="card-img-top" src=" ../../{{ wine.image }}" height="400" />
            </div>
            <div class="col-sm-12 col-md-9 card mt-3 shadow-sm">

                <div class="card-body">
                    <h4 class="titles card-title">{{ wine.name }}</h4>
                </div>
                <!-- tutaj będzie trzeba wstawić parametry -->
                <ul class="list-group list-group-flush mb-5">
                    <li class="list-group-item">Cena: {{ wine.price }} </li>
                    <li class="list-group-item">Kolor: {{ wine.color_name }} </li>
                    <li class="list-group-item">Smak: {{ wine.taste_name }} </li>
                    <li class="list-group-item">Opis: {{ wine.descriptions }}</li>
                </ul>
            </div>

             <!-- tutaj będzie trzeba zrobić dodawanie opinii (w modalu jest formularz) -->
            <div class="col-12 mt-5 pt-5">
                <div class="float-right">
                    <button type="button" class="btn bg-black text-light guzik mr-1" data-toggle="modal" data-target="#opinia"><i
                            class="fas fa-plus "></i> Dodaj opinię</button>
                    <!-- Modal - wyskakujący popup do dodania opinii -->
                    <div class="modal fade" id="opinia" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Dodaj swoją opinię</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <!-- tu się zaczyna formularz -->
                                    <form>
                                        <div class="form-group">
                                            <label for="exampleFormControlInput1">Imię i nazwisko:</label>
                                            {{ form.nickname }}
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleFormControlTextarea1">Opinia:</label>
                                            {{ form.description }}
                                        </div>
                                    </form>
                                    <!-- koniec formularza -->
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary guzik"
                                        data-dismiss="modal">Anuluj</button>
                                    <a href="#"><button type="button" class="btn btn-dark  guzik">Zapisz</button></a>
                                </div>
                            </div>
                        </div>
                    </div></a>
                    <!-- koniec modala - popupu -->
                </div>

                <!-- tutaj będzie trzeba wstawić dodane opinie -->
                <div class="shadow-sm border rounded mt-5">
                    {% for comment in comments %}
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item bg-wlasne text-light text-bold pb-2 pt-3">
                            <h6 class="text-bold">{{ comment.name }}</h6>
                        </li>
                        <li class="list-group-item">{{ comment.description }} li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}