{% extends "base.html" %}

{% block content %}
{%load static%}
<div class="container">
    <div class="col-12 marginpr border p-3 shadow ">
        <div class="d-flex w-100 m-5">
            <i class="far fa-7x fa-image img-thumbnail d-flex align-items-center px-5"></i>
            <table class="d-inline p-5 mt-3">
                <tr>
                    <th>
                        <h4>Kolor:</h4>
                    </th>
                    <td class="pl-3">
                        <h6>{cos tam}</h6>
                    </td>
                </tr>
                <tr>
                    <th class="pt-3">
                        <h4>Smak:</h4>
                    </th>
                    <td class="pt-3 pl-3">
                        <h6>{cos tam}</h6>
                    </td>
                </tr>
                <tr>
                    <th class="pt-3">
                        <h4>Kraj:</h4>
                    </th>
                    <td class="pt-3 pl-3">
                        <h6>{cos tam}</h6>
                    </td>
                </tr>
                <tr>
                    <th class="pt-3">
                        <h4>Cena:</h4>
                    </th>
                    <td class="pt-3 pl-3">
                        <h6>{cos tam}</h6>
                    </td>
                </tr>
            </table>
        </div>
        <div class="ml-5 p-3">

                <h4 class="mb-3">Przepis:</h4>
                <p class="mb-4">Donec id elit non non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
                    blannrjkncjksnkjcnjsk cjksncjknsjkccnnciow cnecnweionciwe  non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
                    blannrjkncjksnkjcnjsk cjksncjknsjkccnnciow cnecnweionciwe  non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
                    blannrjkncjksnkjcnjsk cjksncjknsjkccnnciow cnecnweionciwe  mi porta gravida at eget metus. Maecenas sed diam eget risus varius
                    blannrjkncjksnkjcnjsk cjksncjknsjkccnnciow cnecnweionciwe cwecnwec ecnwe vjksnckjsneiocmw cniewmciwc wecnweicwe cwedit.</p>


        </div>
        <div class="d-flex flex-row-reverse">
            <a href="#"><button type="button" class="shadow btn btn-success guzik border-light">Zapisz</button></a>
            <a href="#"><button type="button" class="shadow btn btn-danger guzik border-light">Anuluj</button></a>
        </div>
    </div>
</div>
{% endblock %}