{% load static %}
<!doctype html>
<html lang="pl">

<head>
  {% load static %}
  <title>Dionizos-wina dla Ciebie!</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- CSS -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <!-- Favicon -->
  <link rel="icon" href="{% static 'favicon.png' %}" />
  <!-- Font awasome -->
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

</head>

<body class="bg-wlasne">

  <header>
    <nav class="navbar navbar-expand-md fixed-top nav-color navbar-dark">
      
          <div class="z-index col-6 offset-3 col-md-12 offset-md-0 text-center">
            <a class="logo navbar-brand" href="{% url 'index' %}">
                <b>Dionizos</b>  
            </a>
        </div>

      <!-- nie zamykam znaczników header i nav w base, 
        bo w indexie są dodatkowe opcje przy nawigacji,
        których nie użyłam na innyc podstronach -->

<section class="content">
   {% block content %}
   Domyślny!
   {% endblock %}
</section>

      <footer class="navbar sticky-bottom nav-color text-light pb-2">
        <div class="container-fluid pt-2">
          <div class="col-12">
          <div class="row">
            <div class="col-12 col-md-4 d-flex p-0 m-0 justify-content-center">
              <b>Copyright @</b> Dionizos
            </div>
            <div class="col-12 col-md-4 d-flex justify-content-center">
              <!-- ikonki do footera -->

                <b>Kontakt</b>: dionizoscompany@gmail.com
                <!-- <i class="fab fa-facebook-square fa-2x p-xs-0 px-sm-3 "></i>
                <i class="fab fa-twitter-square fa-2x p-xs-0 px-sm-3"></i>
                <i class="fab fa-google-plus-square fa-2x p-xs-0 px-sm-3"></i>
                <i class="fab fa-youtube-square fa-2x p-xs-0 pl-sm-3"></i> -->
              </div>
              <div class="col-12 col-md-4 d-flex justify-content-center">
                <i class="fab fa-facebook-square fa-2x px-3 "></i>
                <i class="fab fa-twitter-square fa-2x px-3"></i>
                <i class="fab fa-google-plus-square fa-2x px-3"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      </footer>
      <!-- JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
      </script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
      </script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
      </script>
      <script src="{% static 'app.js' %}"></script>
</body>

</html>