{% extends 'base.html' %}

{% block content %}



<div class="container bg-light rounded">
    <div class="col-12 margin100 mb-5 p-3">
        <h3 class="bg-wlasne p-4 text-light titles text-center mt-2 mb-5 rounded">Rejestracja</h3>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="d-flex justify-content-end">
                <a href="{% url 'index' %}"><button class="btn bg-dark text-light guzik mr-1" type="button">Anuluj</button></a>
                <button class="btn bg-black text-light guzik" type="submit">Zarejestruj się</button>
            </div>
        </form>
    </div>
</div>
        {% endblock %}